[submodule "sub/keymem"]
	path = sub/keymem
	url = ../keymem.git
        ignore = dirty
[submodule "sub/aes-siv"]
	path = sub/aes-siv
	url = ../aes-siv.git
        ignore = dirty
[submodule "sub/cmac"]
	path = sub/cmac
	url = ../cmac.git
        ignore = dirty
[submodule "sub/aes"]
	path = sub/aes
	url = ../aes.git
        ignore = dirty
[submodule "sub/nts_noncegen"]
	path = sub/nts_noncegen
	url = ../nts_noncegen.git
        ignore = dirty
[submodule "sub/siphash"]
	path = sub/siphash
	url = ../siphash.git
        ignore = dirty
[submodule "sub/md5"]
	path = sub/md5
	url = ../md5
        ignore = dirty
